<div style="float: right">  
{{#username}}
  Hi, {{username}} <a href="/service/logout">Logout</a>
{{/username}}
</div>

  <div> <!-- Nav -->
    <div>
      <nav class="navbar navbar-inverse" role="navigation">
           <ul class="nav navbar-nav">
          <li class="active"><a href="home">Home<span class="sr-only">(current)</span></a></li>
          <li class="active"><a href="register">Register</a></li>
      </ul>
    </nav>
  </div>
  <!-- NAV END -->
<div align= "center">
	<h2 align="center">Admin Operations</h2>
  	<ul>
  	  <a href='/pages/admin/add_album'>Add Album</a>
      <br>
  	  <a href='/pages/admin/add_photos'>Add Photo to Album </a>
  	</ul>
</div>

<!-- Footer Start -->
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #008CBA;
   color: #555555;
   text-align: center;
  }
</style>

  <div class="footer">
    <footer>
      <font color="#000000"> <b> @Copywrite KonotiProductions</font> </b>
    </footer>
  </div>
<!-- Footer End -->
